[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}
.resultsContainer {
	clear: both;
	padding-top: 20px;
}
.searchResults {
	list-style: none;
	padding-left: 0;
	margin-left: 0;	
}
.itineraryResults {
	list-style: none;
	padding-left: 0;
	margin-left: 0;	
}



/*
.searchResults li { counter-increment: sIndex !important; }
.searchResults li:before {
	list-style-type:decimal;
	list-style-position:inside;
	display: inline;
	content: counter(sIndex);
	float: left;
}
.itineraryResults li { counter-increment: iIndex !important; }
.itineraryResults li:before {
	list-style-type:upper-alpha;
	list-style-position:inside;
	display: inline;
	content: counter(iIndex);
	float: left;
}
*/



span.stars, span.stars span {
    display: inline-block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars span {
    background-position: 0 0;
}